{:blocks (
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "677e03ae-dbcb-4ffc-aaff-145f8defd196"}
:block/parent 
{:block/uuid #uuid "677e03ae-dbcb-4ffc-aaff-145f8defd196"}
:block/properties 
{}
:block/uuid #uuid "677e03c6-aa90-40d7-8058-9043600feecd"} 
{:block/content "library CMS"
:block/format :markdown
:block/left 
{:block/uuid #uuid "677e03c6-aa90-40d7-8058-9043600feecd"}
:block/parent 
{:block/uuid #uuid "677e03ae-dbcb-4ffc-aaff-145f8defd196"}
:block/properties 
{}
:block/uuid #uuid "677e03ff-e890-4527-b9e4-83252ca5204a"} 
{:block/created-at 1736312390604
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "677e03ff-e890-4527-b9e4-83252ca5204a"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 40.82021350734468]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "07f46270-cd7c-11ef-87e0-a9a678af4443"
:noFill false
:point [80 400]
:parentId "677e03ae-dbcb-4ffc-aaff-145f8defd196"
:collapsedHeight 0
:nonce 1736311806489}}
:block/updated-at 1736312390604} 
{:block/content "twitter"
:block/format :markdown
:block/left 
{:block/uuid #uuid "677e03ff-e890-4527-b9e4-83252ca5204a"}
:block/parent 
{:block/uuid #uuid "677e03ae-dbcb-4ffc-aaff-145f8defd196"}
:block/properties 
{}
:block/uuid #uuid "677e0414-818d-44fc-b0ad-cf7c3e7526ee"} 
{:block/created-at 1736312441803
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "677e0414-818d-44fc-b0ad-cf7c3e7526ee"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [112 40.82685956057686]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "14ab3ca0-cd7c-11ef-87e0-a9a678af4443"
:noFill false
:point [216 536]
:parentId "677e03ae-dbcb-4ffc-aaff-145f8defd196"
:collapsedHeight 0
:nonce 1736311827845}}
:block/updated-at 1736312441803} 
{:block/content "phone?"
:block/format :markdown
:block/left 
{:block/uuid #uuid "677e0414-818d-44fc-b0ad-cf7c3e7526ee"}
:block/parent 
{:block/uuid #uuid "677e03ae-dbcb-4ffc-aaff-145f8defd196"}
:block/uuid #uuid "677e0425-8072-46a8-bdfd-cd7d91041aa2"} 
{:block/created-at 1736312390605
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "677e0425-8072-46a8-bdfd-cd7d91041aa2"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 40.826820373535156]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "1d4dee20-cd7c-11ef-87e0-a9a678af4443"
:noFill false
:point [104 664]
:parentId "677e03ae-dbcb-4ffc-aaff-145f8defd196"
:collapsedHeight 0
:nonce 1736311842309}}
:block/updated-at 1736312390605} 
{:block/content "linux shell"
:block/format :markdown
:block/left 
{:block/uuid #uuid "677e0425-8072-46a8-bdfd-cd7d91041aa2"}
:block/parent 
{:block/uuid #uuid "677e03ae-dbcb-4ffc-aaff-145f8defd196"}
:block/uuid #uuid "677e05b2-6512-464c-9956-2ecf80b59c23"} 
{:block/created-at 1736312390605
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 3
:scale [1 1]
:pageId "677e05b2-6512-464c-9956-2ecf80b59c23"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 40.826820373535156]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "0a5d0890-cd7d-11ef-8f4e-278bfddd2a57"
:noFill false
:point [624 392]
:parentId "677e03ae-dbcb-4ffc-aaff-145f8defd196"
:collapsedHeight 0
:nonce 1736312240028}}
:block/updated-at 1736312390605} 
{:block/content "characters\nLeo\nSam\nMaddie\nHacker\nMs. Halloway"
:block/format :markdown
:block/left 
{:block/uuid #uuid "677e05b2-6512-464c-9956-2ecf80b59c23"}
:block/parent 
{:block/uuid #uuid "677e05b2-6512-464c-9956-2ecf80b59c23"}
:block/properties 
{}
:block/uuid #uuid "677e0653-86f5-497d-9b63-5da3cc11110c"} 
{:block/created-at 1736312435962
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 4
:scale [1 1]
:pageId "677e0653-86f5-497d-9b63-5da3cc11110c"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 160.82028363684645]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "6ab09c20-cd7d-11ef-8f4e-278bfddd2a57"
:noFill false
:point [120 104]
:parentId "677e03ae-dbcb-4ffc-aaff-145f8defd196"
:collapsedHeight 0
:nonce 1736312401694}}
:block/updated-at 1736312435962})
:pages (
{:block/uuid #uuid "677e03ae-dbcb-4ffc-aaff-145f8defd196"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "677e03ae-dbcb-4ffc-aaff-145f8defd196"
:name "mcpshsf 2025"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("07f46270-cd7c-11ef-87e0-a9a678af4443" "14ab3ca0-cd7c-11ef-87e0-a9a678af4443" "1d4dee20-cd7c-11ef-87e0-a9a678af4443" "0a5d0890-cd7d-11ef-8f4e-278bfddd2a57" "6ab09c20-cd7d-11ef-8f4e-278bfddd2a57")}}
:block/journal? false
:block/updated-at 1736312441802
:block/created-at 1736311726187
:block/format :markdown
:block/type "whiteboard"
:block/name "mcpshsf 2025"
:block/original-name "mcpshsf 2025"})}