{:highlights [{:id #uuid "65750ba0-3189-457b-bcb3-3b7686e81f95",
               :page 18,
               :position {:bounding {:x1 0,
                                     :y1 46.164154052734375,
                                     :x2 267.8873863220215,
                                     :y2 190.12677001953125,
                                     :width 574,
                                     :height 861},
                          :rects ({:x1 0,
                                   :y1 46.164154052734375,
                                   :x2 0,
                                   :y2 65.33444213867188,
                                   :width 574,
                                   :height 861}
                                  {:x1 59.807308197021484,
                                   :y1 151.45098876953125,
                                   :x2 267.8873863220215,
                                   :y2 168.33908081054688,
                                   :width 574,
                                   :height 861}
                                  {:x1 59.807308197021484,
                                   :y1 173.2386474609375,
                                   :x2 210.48656845092773,
                                   :y2 190.12677001953125,
                                   :width 574,
                                   :height 861}),
                          :page 18},
               :content {:text "add_one :: Natural -> Natural add_one = \\x -> x + 1"},
               :properties {:color "yellow"}}
              {:id #uuid "65750bc2-f84e-4219-80c2-34b4438f8982",
               :page 38,
               :position {:bounding {:x1 0,
                                     :y1 14.1708984375,
                                     :x2 521.072998046875,
                                     :y2 289.97203063964844,
                                     :width 574,
                                     :height 861},
                          :rects ({:x1 0,
                                   :y1 14.1708984375,
                                   :x2 0,
                                   :y2 33.34120178222656,
                                   :width 574,
                                   :height 861}
                                  {:x1 0,
                                   :y1 30.167526245117188,
                                   :x2 0,
                                   :y2 49.33781433105469,
                                   :width 574,
                                   :height 861}
                                  {:x1 0,
                                   :y1 46.16416931152344,
                                   :x2 0,
                                   :y2 65.33445739746094,
                                   :width 574,
                                   :height 861}
                                  {:x1 0,
                                   :y1 62.16081237792969,
                                   :x2 0,
                                   :y2 81.33110046386719,
                                   :width 574,
                                   :height 861}
                                  {:x1 0,
                                   :y1 78.15745544433594,
                                   :x2 0,
                                   :y2 97.32774353027344,
                                   :width 574,
                                   :height 861}
                                  {:x1 0,
                                   :y1 94.15406799316406,
                                   :x2 0,
                                   :y2 113.32435607910156,
                                   :width 574,
                                   :height 861}
                                  {:x1 47.81161117553711,
                                   :y1 100.91502380371094,
                                   :x2 504.32372665405273,
                                   :y2 121.91105651855469,
                                   :width 574,
                                   :height 861}
                                  {:x1 0,
                                   :y1 110.15071105957031,
                                   :x2 0,
                                   :y2 129.3209991455078,
                                   :width 574,
                                   :height 861}
                                  {:x1 47.81161117553711,
                                   :y1 124.93495178222656,
                                   :x2 491.5235900878906,
                                   :y2 145.9309844970703,
                                   :width 574,
                                   :height 861}
                                  {:x1 47.81161117553711,
                                   :y1 148.95484924316406,
                                   :x2 442.38690185546875,
                                   :y2 169.9508819580078,
                                   :width 574,
                                   :height 861}
                                  {:x1 47.81161117553711,
                                   :y1 172.98191833496094,
                                   :x2 489.62963485717773,
                                   :y2 193.9779510498047,
                                   :width 574,
                                   :height 861}
                                  {:x1 47.81161117553711,
                                   :y1 197.00181579589844,
                                   :x2 521.072998046875,
                                   :y2 217.9978485107422,
                                   :width 574,
                                   :height 861}
                                  {:x1 47.81161117553711,
                                   :y1 220.93614196777344,
                                   :x2 509.1376304626465,
                                   :y2 241.9321746826172,
                                   :width 574,
                                   :height 861}
                                  {:x1 47.81161117553711,
                                   :y1 244.95606994628906,
                                   :x2 483.043758392334,
                                   :y2 265.9521026611328,
                                   :width 574,
                                   :height 861}
                                  {:x1 47.81161117553711,
                                   :y1 268.9759979248047,
                                   :x2 304.74163818359375,
                                   :y2 289.97203063964844,
                                   :width 574,
                                   :height 861}),
                          :page 38},
               :content {:text "You might be surprised to learn that Haskell, somehow, is one of the very few languages out there that actually supports this very basic concept of a sum type. Most other languages fail to comprehend the importance of this situation and simply don’t allow programmers to express the idea of either this or that at all, let alone do any exhaustiveness checking or pattern matching. Come on, let’s hold hands and carefully explore this pain together to understand why this is so important."},
               :properties {:color "yellow"}}],
 :extra {:page 42}}
