{:highlights [{:id #uuid "63c8539e-2fbe-43a8-b55a-1fdf3173b4d4", :page 3, :position {:bounding {:x1 27, :y1 23, :x2 1059, :y2 565, :width 1069, :height 601.3125}, :rects (), :page 3}, :content {:text "[:span]", :image 1674072988974}, :properties {:color "yellow"}}], :extra {:page 3}}