{:highlights [{:id #uuid "65dadb40-effe-42da-a79a-fefa5537fd22",
               :page 11,
               :position {:bounding {:x1 70.4453125,
                                     :y1 72.3359375,
                                     :x2 510.37261962890625,
                                     :y2 86.8359375,
                                     :width 629.0000000000001,
                                     :height 831.5667590138122},
                          :rects ({:x1 70.4453125,
                                   :y1 72.3359375,
                                   :x2 510.37261962890625,
                                   :y2 86.8359375,
                                   :width 629.0000000000001,
                                   :height 831.5667590138122}),
                          :page 11},
               :content {:text "While all you need to write and run Go programs is a terminal and a text editor, "},
               :properties {:color "yellow"}}
              {:id #uuid "65dadb75-fb0f-487a-9d33-54f133102ab9",
               :page 11,
               :position {:bounding {:x1 541.0763549804688,
                                     :y1 625.4921875,
                                     :x2 541.085205078125,
                                     :y2 639.9921875,
                                     :width 629.0000000000001,
                                     :height 831.5667590138122},
                          :rects ({:x1 541.0763549804688,
                                   :y1 625.4921875,
                                   :x2 541.085205078125,
                                   :y2 639.9921875,
                                   :width 629.0000000000001,
                                   :height 831.5667590138122}),
                          :page 11},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "65dadb7f-06b3-4d4b-b5a5-4b15b87dd2ac",
               :page 11,
               :position {:bounding {:x1 70.6328125,
                                     :y1 408.875,
                                     :x2 436.1576232910156,
                                     :y2 446.328125,
                                     :width 629.0000000000001,
                                     :height 831.5667590138122},
                          :rects ({:x1 70.6328125,
                                   :y1 408.875,
                                   :x2 436.1576232910156,
                                   :y2 423.375,
                                   :width 629.0000000000001,
                                   :height 831.5667590138122}
                                  {:x1 89.1875,
                                   :y1 430.328125,
                                   :x2 298.45697021484375,
                                   :y2 446.328125,
                                   :width 629.0000000000001,
                                   :height 831.5667590138122}),
                          :page 11},
               :content {:text "All these solutions are also available in a public GitHub repo here:• https://github.com/bitfield/ftl‐code"},
               :properties {:color "yellow"}}
              {:id #uuid "65dadbbc-3354-4d73-bd1a-2780af841273",
               :page 12,
               :position {:bounding {:x1 71.0703125,
                                     :y1 189.0078125,
                                     :x2 525.4659423828125,
                                     :y2 218.4765625,
                                     :width 629.0000000000001,
                                     :height 831.5667590138122},
                          :rects ({:x1 71.0703125,
                                   :y1 189.0078125,
                                   :x2 525.4659423828125,
                                   :y2 203.5078125,
                                   :width 629.0000000000001,
                                   :height 831.5667590138122}
                                  {:x1 71.0703125,
                                   :y1 203.9765625,
                                   :x2 522.926513671875,
                                   :y2 218.4765625,
                                   :width 629.0000000000001,
                                   :height 831.5667590138122}),
                          :page 12},
               :content {:text "In some ways, the fact that Go doesn’t have many features is its best feature. It has enough features to do everything we need to do in building software, but no more."},
               :properties {:color "yellow"}}
              {:id #uuid "65dadbd6-b31b-4552-845f-f45c208b407d",
               :page 12,
               :position {:bounding {:x1 70.5703125,
                                     :y1 338.9375,
                                     :x2 549.955078125,
                                     :y2 383.375,
                                     :width 629.0000000000001,
                                     :height 831.5667590138122},
                          :rects ({:x1 71.0703125,
                                   :y1 338.9375,
                                   :x2 539.587646484375,
                                   :y2 353.4375,
                                   :width 629.0000000000001,
                                   :height 831.5667590138122}
                                  {:x1 70.5703125,
                                   :y1 353.90625,
                                   :x2 549.955078125,
                                   :y2 368.40625,
                                   :width 629.0000000000001,
                                   :height 831.5667590138122}
                                  {:x1 71.0703125,
                                   :y1 368.875,
                                   :x2 227.4149169921875,
                                   :y2 383.375,
                                   :width 629.0000000000001,
                                   :height 831.5667590138122}),
                          :page 12},
               :content {:text "Go is humble, and that’s a good attitude for us to adopt, too. It doesn’t claim to be the world’s greatest programming language, the most advanced, or the most pure, elegant, and theoretically appealing. "},
               :properties {:color "yellow"}}
              {:id #uuid "65dadbff-e776-4c9e-8331-65f26b8c0c5e",
               :page 13,
               :position {:bounding {:x1 71.0703125,
                                     :y1 162.3125,
                                     :x2 549.45556640625,
                                     :y2 191.78125,
                                     :width 629.0000000000001,
                                     :height 831.5667590138122},
                          :rects ({:x1 71.0703125,
                                   :y1 162.3125,
                                   :x2 549.45556640625,
                                   :y2 176.8125,
                                   :width 629.0000000000001,
                                   :height 831.5667590138122}
                                  {:x1 71.0703125,
                                   :y1 177.28125,
                                   :x2 102.50367736816406,
                                   :y2 191.78125,
                                   :width 629.0000000000001,
                                   :height 831.5667590138122}),
                          :page 13},
               :content {:text "By writing the test first, you are forced to think about what the program actually needs to do."},
               :properties {:color "yellow"}}
              {:id #uuid "65dadc55-a1af-4e95-a874-7853f7be92d0",
               :page 14,
               :position {:bounding {:x1 71.0703125,
                                     :y1 585.9140625,
                                     :x2 529.608642578125,
                                     :y2 615.546875,
                                     :width 629.0000000000001,
                                     :height 831.5667590138122},
                          :rects ({:x1 71.0703125,
                                   :y1 585.9140625,
                                   :x2 529.608642578125,
                                   :y2 600.4140625,
                                   :width 629.0000000000001,
                                   :height 831.5667590138122}
                                  {:x1 71.0703125,
                                   :y1 599.546875,
                                   :x2 387.6855163574219,
                                   :y2 615.546875,
                                   :width 629.0000000000001,
                                   :height 831.5667590138122}),
                          :page 14},
               :content {:text "Every Go project needs two things: a folder on disk to keep its source code in, and a go.mod file which identifies the module, or project name."},
               :properties {:color "yellow"}}],
 :extra {:page 14}}
