{:highlights [{:id #uuid "652b639c-e310-4125-8ebd-4e9326b5326a",
               :page 1,
               :position {:bounding {:x1 84.43342661857605,
                                     :y1 347.2403869628906,
                                     :x2 399.56514048576355,
                                     :y2 359.10772705078125,
                                     :width 574,
                                     :height 742.8235294117648},
                          :rects ({:x1 84.43342661857605,
                                   :y1 347.2403869628906,
                                   :x2 399.56514048576355,
                                   :y2 359.10772705078125,
                                   :width 574,
                                   :height 742.8235294117648}),
                          :page 1},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "652b63a0-a7b9-4830-8e5a-4a9e96c2e1ea",
               :page 1,
               :position {:bounding {:x1 84.43342661857605,
                                     :y1 334.83819580078125,
                                     :x2 397.19563364982605,
                                     :y2 346.70550537109375,
                                     :width 574,
                                     :height 742.8235294117648},
                          :rects ({:x1 84.43342661857605,
                                   :y1 334.83819580078125,
                                   :x2 397.19563364982605,
                                   :y2 346.70550537109375,
                                   :width 574,
                                   :height 742.8235294117648}),
                          :page 1},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "652b63a2-1ff7-4618-a9cf-d2857fec91a6",
               :page 1,
               :position {:bounding {:x1 84.43342661857605,
                                     :y1 390.2522888183594,
                                     :x2 336.92178416252136,
                                     :y2 402.11962890625,
                                     :width 574,
                                     :height 742.8235294117648},
                          :rects ({:x1 84.43342661857605,
                                   :y1 390.2522888183594,
                                   :x2 336.92178416252136,
                                   :y2 402.11962890625,
                                   :width 574,
                                   :height 742.8235294117648}),
                          :page 1},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "652b63a4-e5ba-4102-82b1-72dbe1a9e7ac",
               :page 1,
               :position {:bounding {:x1 84.43342661857605,
                                     :y1 427.3947448730469,
                                     :x2 343.3922278881073,
                                     :y2 439.2620544433594,
                                     :width 574,
                                     :height 742.8235294117648},
                          :rects ({:x1 84.43342661857605,
                                   :y1 427.3947448730469,
                                   :x2 343.3922278881073,
                                   :y2 439.2620544433594,
                                   :width 574,
                                   :height 742.8235294117648}),
                          :page 1},
               :content {:text nil},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
